* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registartion_form{
    margin: 50px auto;
    width: 400px;
    height: 436px;
    border: 4px solid black;
    border-radius: 15px;
    border: double 4px transparent;
    background-image: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%)
    ,linear-gradient(90deg, #1A7F72 0%, rgba(26, 127, 114, 0) 96.77%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: 'heebo', sans-serif;
}
.login_form {
    margin: 50px auto;
    width: 400px;
    height: 384px;
    border: 4px solid black;
    border-radius: 15px;
    border: double 4px transparent;
    background-image: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%)
    ,linear-gradient(90deg, #1A7F72 0%, rgba(26, 127, 114, 0) 96.77%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    font-family: 'heebo', sans-serif;
}

.h1{
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin-top: -16px;
}
.input{
    width: 360px;
    height: 60px;
    border: 2px solid #59D0C0;
    border-radius: 15px;
    text-align: center;
    font-size: 24px;
}

.loginButton{
    width: 210px;
    height: 55px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
    border-radius: 30px;
    font-size: 28px;
    font-weight: bold;
}
.regButton{
    width: 304px;
    height: 55px;
    background: linear-gradient(180deg, #259385 0%, #159685 100%);
    box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
    border-radius: 30px;
    font-size: 28px;
    font-weight: bold;
    padding-top: 8px;
}

.change_to_register_block{
    margin-top: -4px;
}

.registartion_form>*,
.login_form>* {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

form>* {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
