* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.registartion_form,
.login_form {
    margin: 50px auto;
    width: 400px;
    border: 1px solid black;
}

.registartion_form>*,
.login_form>* {
    padding: 15px;
}

form>* {
    margin-bottom: 15px;
}