.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: center;
  min-height: 48px;
  width: 100%;
  font-size: 40px;
  margin-top:15px;
  font-family: 'Heebo';
}

.greeting {
  flex: 1;
  padding: 10px;
  text-align: right;
  color:#ffffff;
}

.name {
  flex: 1;
  max-width: 50%;
  font-size: 40px;
  text-align: left;
  color:#ffffff;
  background-color: transparent;
  border: 0;
  outline: 0;
  
}

.name::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.quote-advice-toggle-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.quote-toggle-btn,
.advice-toggle-btn {
  padding: 20px 50px;
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  box-shadow: 0px 20px 40px rgba(21, 113, 101, 0.2);
  border-radius: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #ffffff;
  border: none;
}

.quote-toggle-btn {
  margin-right: 10px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("../assets/icons/reload.svg");
}

.quote {
  min-height: 32px;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
}

.author {
  min-height: 20px;
}

.change-advice {
  margin-bottom: 30px;
  background-image: url("../assets/icons/reload.svg");
}

.advice {
  min-height: 32px;
  margin-bottom: 15px;
}

.hide-element {
  display: none;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    font-size: 32px;
    padding: 5px;
    color:#ffffff;
  }
}

.quote-advice {
  max-width: 400px;
  margin-bottom: 80px;
}
