

#burger:checked~.burger__nav {
    display: block;
}

#burger:not(checked)~.burger__nav {
    display: none;
}

.burger__nav {
    width: 400px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 130px;
    z-index: 1000;
    background: #fff;
    padding: 51px 0 0 51px;
    // border-radius: 4px;
    border-bottom-left-radius: 10px;
    border: 2px solid $color-brand;
    box-shadow: -3px 3px 10px $color-brand;
    //opacity: rgba(0, 0, 0, 0.25);
    //offset: 0px, 4px;

    &__item {
        margin-top: 19px;

        &__title {
            color: $color-title;
        }

        & a {
            color: #000;
            text-decoration: none;
            font-size: 28px;
        }
    }

    &__img {
        margin-top: 100px;
        width: 139px;
        height: 110px;
    }

}

.active {
    color: $color-title;
}

.active-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: 0;
  }
  
  .drop {
    transition: all 550ms ease 0.1s;
    opacity: 1;
    right: 5px;
  }

  .burger__hidden {
    opacity: 0;
    transition: all 350ms ease 0.1s;
    right: 5px;
  }