.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

svg {
  fill: white;
}

.main-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper_bg {
  position: absolute;
  width: 100%;
  z-index: -1;
  max-height: 750px;
}

.btn {
  width: 220px;
  padding-bottom: 20px;
  text-align: center;
}

.pic1 {
  background: linear-gradient(0deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  border-radius: 25px;
}

.pic2 {
  background: linear-gradient(0deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  border-radius: 25px;
}

.pic3 {
  width: 32%;
  background: linear-gradient(0deg, #c3e2de 27.22%, #cff1ed 48.89%, #edfbf9 96.77%);
  border-radius: 25px;
}

.buttons_navigation {
  display: flex;
  justify-content: space-around;
  gap: 2%;
}

.radioButtons {
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
}

.asd {
  width: 185px;
  margin-top: 51px;
  padding: 12px;
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  box-shadow: 0px 13px 28px rgb(26 127 114 / 20%);
  border-radius: 30px;
  text-decoration: none;
  display: inline-block;
  //font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #ffffff;
}

.asd:hover {
  background: linear-gradient(180deg, #2db8a6 0%, #078a78 100%);
  box-shadow: 0px 13px 28px rgba(19, 88, 79, 0.2);
}

.asd:active {
  background: linear-gradient(180deg, #45f2db 0%, #0adbbf 100%);
  box-shadow: 0px 13px 28px rgba(24, 47, 44, 0.2);
}

.btn_img {
  margin-top: 50px;
}

.p_btn {
  margin-top: 20px;
  font-size: 24px;
  //font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  //font-size: 32px;
  line-height: 47px;
  text-align: center;
  color: #000000;
}

.index_player {
  width: 650px;
  margin: auto;
  margin-bottom: 75px;
  margin-top: 40px;
}
