.user-profile-page {
    background: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%), linear-gradient(90deg, #1A7F72 0%, rgba(26, 127, 114, 0) 96.77%);
}

.profile-block {
    // width: $container-primary;
    // margin-bottom: 50px;

    .profile-block-nav {
        margin-bottom: 50px;

        ul {
            list-style-type: none;
            display: flex;

            li:first-child {
                margin-right: 20px;
            }

            a {
                text-decoration: none;
                color: rgba(0, 0, 0, 0.5);

                &:hover {
                    cursor: pointer;
                    color: $color-subtitle;
                }
            }
        }
    }
}

.profile-block-container {
    padding: 0 20px;

    .profile-block-form {
        padding: 40px;
        border-radius: 15px;
        // background-image: linear-gradient(270deg, #C3EEE8 26.37%, rgba(195, 226, 222, 0.75) 63.87%, rgba(231, 243, 242, 0.4) 103.6%), linear-gradient(90deg, #1A7F72 0%, rgba(26, 127, 114, 0) 96.77%);

        .profile-block-form-inputs {

            display: flex;
            flex-wrap: wrap;
            margin-bottom: 10px;

            .input {
                display: flex;
                flex-direction: column;
                width: 50%;
                height: 100px;

                label {
                    margin-bottom: 15px;
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);
                }

                input {
                    height: 35px;
                    width: 80%;
                    border: none;
                    border-radius: 15px;
                    padding: 0 20px;

                    &::placeholder {
                        color: $color-subtitle;

                    }
                }

                .date {
                    height: 100%;
                }
            }
        }

        .save-changes-button {
            border: none;
            color: #fff;
            height: 40px;
            width: 200px;
            border-radius: 5px;
            background: $color-additional;

            &:hover {
                cursor: pointer;
                background: $color-subtitle;
            }
        }
    }

    &_contain {
        width: $container-content;
        margin: auto;
    }
}
