$color-brand: #3BD1BB;
$color-additional: #0d606f;
$color-title: #3EB29D;
$color-text: #000000;
$color-subtitle: #1A7F72;

$container-primary: 1440px;
$container-content: 1200px;
$container-mobile: 390px;

