@mixin font(
  $weight,
  $size,
  $height: $size,
  $color: $color-text,
  $style: normal,
  $transform: none
) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
  text-transform: $transform;
}


